<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.simpleclouddisk.mapper.FileShardMapper">

    <resultMap id="BaseResultMap" type="com.simpleclouddisk.domain.entity.FileShard">
            <id property="shardId" column="shard_id" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="currentShard" column="current_shard" jdbcType="INTEGER"/>
            <result property="totalShards" column="total_shards" jdbcType="INTEGER"/>
            <result property="last" column="last" jdbcType="VARCHAR"/>
            <result property="fileMd5" column="file_md5" jdbcType="VARCHAR"/>
            <result property="shardMd5" column="shard_md5" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        shard_id,name,current_shard,
        total_shards,last,file_md5,
        shard_md5,create_time
    </sql>
    <select id="uploadProgress" resultType="com.simpleclouddisk.domain.dto.UploadRecordsDto">
        SELECT file_md5, file_name, total_shards, COUNT(*) as count
        FROM file_shard
        WHERE user_id = #{userId}
        GROUP BY file_md5, file_name, total_shards
    </select>
</mapper>
