<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.simpleclouddisk.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.simpleclouddisk.domain.entity.User">
            <id property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="lastTime" column="last_time" jdbcType="TIMESTAMP"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="useSpace" column="use_space" jdbcType="BIGINT"/>
            <result property="totalSpace" column="total_space" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id,name,email,
        phone,avatar,password,
        create_time,last_time,status,
        use_space,total_space
    </sql>
    <update id="setSpace">
        update user set use_space = (use_space + ${size}) where user_id = #{userId}
    </update>
</mapper>
